<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stomatološka ordinacija</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="icon" href="favicon/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <h2>FIRDUS-TIRIĆ</h2>
        </div>
        <nav class="nav-links">
            <a href="index.html">Početna</a>
            <a href="view/dailyschedule.html">Dnevni raspored</a>
            <a href="view/weeklyschedule.html">Sedmični raspored</a>
            <a href="view/patients.html">Pacijenti</a>
            <a href="view/billing.html">Plaćanja</a>
        </nav>
    </div>
</body>
</html>
