@{
    ViewData["Title"] = "Profil pacijenta";
}

<div class="patient-profile-container">

    <div id="patient-files-container"></div>
</div>

<!-- Modalni prozor za lične informacije -->
<div id="editModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Uredi informacije o pacijentu</h3>
        <form id="editPatientForm" data-patientid="@Model">
            <input type="hidden" name="patientId">
            <label for="fullName">Ime (ime oca) prezime:</label>
            <input type="text" id="fullName" name="fullName" required>
            <label for="yearOfBirth">Godina rođenja:</label>
            <input type="number" id="yearOfBirth" name="yearOfBirth" required>
            <label for="placeOfBirth">Mjesto rođenja:</label>
            <input type="text" id="placeOfBirth" name="placeOfBirth" required>
            <label for="postalAddress">Adresa stanovanja:</label>
            <input type="text" id="postalAddress" name="postalAddress" required>
            <label for="phoneNumber">Broj telefona:</label>
            <input type="text" id="phoneNumber" name="phoneNumber" required>
            <label for="jmbg">JMBG:</label>
            <input type="text" id="jmbg" name="jmbg" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="patientNote">Napomena:</label>
            <textarea id="patientNote" name="patientNote"></textarea>
            <button type="button" onclick="savePatientData()">Sačuvaj</button>
        </form>
    </div>
</div>

<!-- Modalni prozor za medicinski karton -->
<div id="editMedicalModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>Uredi medicinski karton</h3>
        <form id="editMedicalForm">
            <input type="hidden" name="patientId">
            <label for="dentalProsthetics">Protetski rad:</label>
            <input type="text" id="dentalProsthetics" name="dentalProsthetics">
            <label for="previousDiseases">Preležane bolesti:</label>
            <input type="text" id="previousDiseases" name="previousDiseases">
            <label for="chronicDiseases">Hronične bolesti:</label>
            <input type="text" id="chronicDiseases" name="chronicDiseases">
            <label for="allergies">Alergije:</label>
            <input type="text" id="allergies" name="allergies">
            <label for="penicilinAllergy">Penicilin:</label>
            <input type="text" id="penicilinAllergy" name="penicilinAllergy">
            <label for="recordNote">Napomena:</label>
            <textarea type="text" id="recordNote" name="recordNote"></textarea>
            <button type="button" onclick="saveMedicalData()">Sačuvaj</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/patientprofile.js"></script>
}