@{
    ViewData["Title"] = "Sedmični raspored";
}

<div class="wschedule-container">
    <h3>@ViewData["Title"] - pacijenti</h3>
    <table class="wschedule-table">
        <thead>
            <tr>
                <th>Ponedjeljak</th>
                <th>Utorak</th>
                <th>Srijeda</th>
                <th>Četvrtak</th>
                <th>Petak</th>
            </tr>
        </thead>
        <tbody>
            <tr class="wschedule-list" id="wscheduleList">
                <!-- Appointments will be dynamically inserted here -->
            </tr>
        </tbody>
    </table>
</div>

<!-- Edit Appointment Modal -->
<div id="editAppointmentModal" class="modal">
    <div class="edit-modal-content">
        <span class="close" onclick="closeEditModal()">&times;</span>
        <h2>Edit Appointment</h2>
        <label for="editPatientName">Patient Name</label>
        <input type="text" id="editPatientName" name="personalName" disabled>
        <label for="editAppointmentDate">Appointment Date</label>
        <input type="datetime-local" id="editAppointmentDate" name="appointmentDate">
        <label for="editAppointmentNote">Appointment Note</label>
        <input type="text" id="editAppointmentNote" name="appointmentNote">
        <input type="hidden" id="editAppointmentId">
        <button id="saveEditBtn" onclick="saveEditedAppointment()">Save</button>
    </div>
</div>


@section Scripts {
    <script src="~/js/weeklyschedule.js"></script>
}