<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stomatološka ordinacija</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <h2>FIRDUS-TIRIĆ</h2>
        </div>
        <nav class="nav-links">
            <a href="../index.html">Home</a>
            <a href="dailyschedule.html">Daily Schedule</a>
            <a href="weeklyschedule.html">Weekly Schedule</a>
            <a href="patients.html">Patients</a>
            <a href="billing.html">Billing</a>
        </nav>
    </div>

    <div class="billing-container">
        <div class="button-wrapper">
            <button class="add-billing" onclick="openCreateModal()">Add Billing</button>
        </div>
        <h3>Detalji o dugovanjima</h3>
        <table class="billing-table">
            <thead>
                <tr>
                    <th>Pacijent</th>
                    <th>Način plaćanja</th>
                    <th>Uplaćeno</th>
                    <th>Datum zadnje uplate</th>
                    <th>Preostalo</th>
                    <th>Status dugovanja</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="billingList">
            </tbody>
        </table>
    </div>

    <!-- Edit Modal -->
    <div id="editModal" class="edit-modal">
        <div class="edit-modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h3>Edit Billing</h3>
            <form id="editForm">
                <input type="hidden" id="editBillingId" name="editBillingId">
                <input type="hidden" id="editPatientId" name="editPatientId">
                <label for="editPatientName">Ime pacijenta</label>
                <input type="text" id="editPatientName" name="patientName" required>

                <label for="editPaymentMethod">Metoda plaćanja</label>
                <input type="text" id="editPaymentMethod" name="paymentMethod" required>

                <label for="editCurrentAmount">Trenutni iznos</label>
                <input type="number" id="editCurrentAmount" name="currentAmount" required>

                <label for="editDateOfLastPayment">Datum zadnjeg plaćanja</label>
                <input type="date" id="editDateOfLastPayment" name="dateOfLastPayment" required>

                <label for="editRemainingAmount">Preostali iznos</label>
                <input type="number" id="editRemainingAmount" name="remainingAmount" required>

                <label for="editBillingStatus">Status plaćanja</label>
                <input type="text" id="editBillingStatus" name="billingStatus" required>

                <button type="submit">Sačuvaj</button>
            </form>
        </div>
    </div>

    <!-- Create Modal -->
    <div id="createModal" class="create-modal">
        <div class="create-modal-content">
            <span class="close" onclick="closeCreateModal()">&times;</span>
            <h3>Create Billing</h3>
            <form id="createForm" class="form-grid">
                <div class="form-group">
                    <label for="createPatientName">Ime pacijenta</label>
                    <input type="text" id="createPatientName" name="patientName" required>
                    <div id="autocomplete-list-appointment" class="autocomplete-appointment"></div>
                </div>
                <input type="hidden" id="createPatientId" name="createPatientId">
                <div class="form-group">
                    <label for="createPaymentMethod">Metoda plaćanja</label>
                    <input type="text" id="createPaymentMethod" name="paymentMethod" required>
                </div>
                <div class="form-group">
                    <label for="createCurrentAmount">Trenutni iznos</label>
                    <input type="number" id="createCurrentAmount" name="currentAmount" required>
                </div>
                <div class="form-group">
                    <label for="createDateOfLastPayment">Datum plaćanja</label>
                    <input type="date" id="createDateOfLastPayment" name="dateOfLastPayment" required>
                </div>
                <div class="form-group">
                    <label for="createRemainingAmount">Preostali iznos</label>
                    <input type="number" id="createRemainingAmount" name="remainingAmount" required>
                </div>
                <div class="form-group">
                    <label for="createBillingStatus">Status plaćanja</label>
                    <input type="text" id="createBillingStatus" name="billingStatus" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="submit-btn">Kreiraj</button>
                </div>
            </form>
        </div>
    </div>

    <script src="../js/billing.js"></script>
    <script src="../js/updatebillingpatient.js"></script>
</body>
</html>
