<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stomatološka ordinacija</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <h2>FIRDUS-TIRIĆ</h2>
        </div>
        <nav class="nav-links">
            <a href="../index.html">Home</a>
            <a href="dailyschedule.html">Daily Schedule</a>
            <a href="weeklyschedule.html">Weekly Schedule</a>
            <a href="patients.html">Patients</a>
            <a href="billing.html">Billing</a>
        </nav>
    </div>

    <div class="dschedule-container">
        <h3>Daily Schedule - Patients</h3>
        <table class="dschedule-table">
            <thead>
                <tr>
                    <th>Termin</th>
                    <th>Ime i prezime</th>
                    <th>Usluga</th>
                </tr>
            </thead>
            <tbody id="dscheduleList">
                <tr>
                    <td>
                        <span class="time">17:00</span>
                    </td>
                    <td>
                        <span class="patient-name">John Doe</span>
                    </td>
                    <td>
                        <span class="service">Zamjena gumica</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="time">17:30</span>
                    </td>
                    <td>
                        <span class="patient-name">Alice Brown</span>
                    </td>
                    <td>
                        <span class="service">Popravak</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
