<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stomatološka ordinacija</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="icon" href="../favicon/favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> <!-- Include moment.js -->
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <h2>FIRDUS-TIRIĆ</h2>
        </div>
        <nav class="nav-links">
            <a href="../index.html">Početna</a>
            <a href="dailyschedule.html">Dnevni raspored</a>
            <a href="weeklyschedule.html">Sedmični raspored</a>
            <a href="patients.html">Pacijenti</a>
            <a href="billing.html">Plaćanja</a>
        </nav>
    </div>

    <div class="dschedule-container">
        <h3>Dnevni raspored - pacijenti</h3>
        <table class="dschedule-table">
            <thead>
                <tr>
                    <th>Termin</th>
                    <th>Ime i prezime</th>
                    <th>Usluga</th>
                </tr>
            </thead>
            <tbody id="dscheduleList">
                <!-- Appointments will be dynamically inserted here -->
            </tbody>
        </table>
    </div>

    <script src="../js/dailyschedule.js"></script>
</body>
</html>
