<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stomatološka ordinacija</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <h2>FIRDUS-TIRIĆ</h2>
        </div>
        <nav class="nav-links">
            <a href="../index.html">Home</a>
            <a href="dailyschedule.html">Daily Schedule</a>
            <a href="weeklyschedule.html">Weekly Schedule</a>
            <a href="patients.html">Patients</a>
            <a href="billing.html">Billing</a>
        </nav>
    </div>

    <div class="patients-container">
        <h3>Patient Details</h3>
        <table class="patients-table" id="patientsTable" role="table">
            <thead>
                <tr>
                    <th scope="col">Full Name</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Place of Birth</th>
                    <th scope="col">Postal Address</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">JMBG</th>
                    <th scope="col">Email</th>
                    <th scope="col">Critical</th>
                    <th scope="col">Notes</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>


    <script src="../js/patient.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            getAllPatients();
        });
    </script>

</body>
</html>
