<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stomatološka ordinacija</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="icon" href="../favicon/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <h2>FIRDUS-TIRIĆ</h2>
        </div>
        <nav class="nav-links">
            <a href="../index.html">Početna</a>
            <a href="dailyschedule.html">Dnevni raspored</a>
            <a href="weeklyschedule.html">Sedmični raspored</a>
            <a href="patients.html">Pacijenti</a>
            <a href="billing.html">Plaćanja</a>
        </nav>
    </div>

    <div class="patient-profile-container">

    </div>

    <script src="../js/patientprofile.js"></script>
</body>
</html>
