<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stomatološka ordinacija</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script> <!-- Include moment.js -->
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <h2>FIRDUS-TIRIĆ</h2>
        </div>
        <nav class="nav-links">
            <a href="../index.html">Home</a>
            <a href="dailyschedule.html">Daily Schedule</a>
            <a href="weeklyschedule.html">Weekly Schedule</a>
            <a href="patients.html">Patients</a>
            <a href="billing.html">Billing</a>
        </nav>
    </div>

    <div class="wschedule-container">
        <h3>Sedmični raspored - pacijenti</h3>
        <table class="wschedule-table">
            <thead>
                <tr>
                    <th>Ponedjeljak</th>
                    <th>Utorak</th>
                    <th>Srijeda</th>
                    <th>Četvrtak</th>
                    <th>Petak</th>
                </tr>
            </thead>
            <tbody>
                <tr class="wschedule-list" id="wscheduleList">
                    <!-- Appointments will be dynamically inserted here -->
                </tr>
            </tbody>
        </table>
    </div>

    <script src="../js/weeklyschedule.js"></script>
</body>
</html>