body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5; /* Svetlija nijansa sive */
    padding: 10px
}

/* Sidebar */

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #2c3e50;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin-top: 100px;
}

.nav-item {
    text-decoration: none;
    color: #ecf0f1;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 10px;
}

    .nav-item i {
        margin-right: 10px;
    }

    .nav-item:hover {
        background-color: #34495e;
        color: #f1c40f;
    }

    .nav-item.active {
        background-color: #1abc9c;
        color: #fff;
    }

hr {
    border: none;
    height: 1px;
    background-color: black;
    margin: 20px 0;
    border-radius: 5px;
}

body.index-body, html.index-body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Dodajte ovo da biste omogućili vertikalno poravnanje */
}

.index-body .index-content {
    margin-top: 50px;
    text-align: center;
}

/*.index-body .logo {
    max-width: 350px;*/ /* Podesite veličinu logoa po potrebi */
    /*margin-bottom: 40px;*/ /* Razmak između logoa i teksta */
/*}*/

.add-patient, .add-billing {
    background-color: #2c3e50;
    color: white;
}

.btnsave {
    background-color: forestgreen;
    color: white;
}

/* weekly schedule table */
.wschedule-container,
.patients-container,
.billing-container,
.dschedule-container {
    width: 80%;
    height: auto;
    overflow-y: auto;
    overflow-x: auto;
    margin-left: 270px;
}

h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.wschedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    .wschedule-table th,
    .wschedule-table td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
        vertical-align: top;
        width: 20%
    }

    .wschedule-table th {
        background-color: #1abc9c; /* Svijetlija nijansa plave */
        color: white;
        text-align: center;
    }

.patient-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 5px;
}

    .patient-box span {
        display: block;
        color: #333;
        margin-bottom: 5px;
    }

.wschedule-table tr:nth-child(even),
.patients-table tr:nth-child(even),
.billing-table tr:nth-child(even),
.dschedule-table tr:nth-child(even) {
    background-color: #e9ecef; /* Svijetlo siva */
}

.wschedule-table tr:hover,
.patients-table tr:hover,
.billing-table tr:hover,
.dschedule-table tr:hover {
    background-color: #dee2e6; /* Tamnija nijansa sive */
}

/* patients tabela */

.patients-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    .patients-table thead {
        background-color: #1abc9c;
        color: white;
        position: sticky;
    }

    .patients-table th,
    .patients-table td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
        vertical-align: top;
        width: 11%
    }

    .patients-table th {
        background-color: #1abc9c;
        color: white;
        text-align: center;
    }

/*billing table */

.billing-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    .billing-table td {
        position: relative;
    }

    .billing-table .edit-btn,
    .billing-table .delete-btn {
        display: inline-block;
        margin-right: 5px; /* Adjust the margin as needed */
        font-size: 1.2em;
        background: none;
        border: none;
        cursor: pointer;
    }


        .billing-table .edit-btn i,
        .billing-table .delete-btn i {
            font-size: 16px; /* Adjust the icon size as needed */
        }

    .billing-table thead th {
        background-color: #1abc9c;
        color: white;
        position: sticky;
    }

    .billing-table th,
    .billing-table td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
        vertical-align: top;
        width: 16%
    }

    .billing-table th {
        background-color: #1abc9c;
        color: white;
        text-align: center;
    }

/* daily schedule table*/

.dschedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    .dschedule-table th,
    .dschedule-table td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
        vertical-align: top;
        width: 33%
    }

    .dschedule-table th {
        background-color: #1abc9c;
        color: white;
        text-align: center;
        position: sticky;
        top: 0;
    }


.patient-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 5px;
}

    .patient-box span {
        display: block;
        color: #333;
        margin-bottom: 5px;
    }

/* button - add new patient */

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    padding-left: 10px;
}

.add-patient {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* add new patient form */


.form-container {
    margin: 0 auto;
    padding: 20px;
    width: 50%;
}

.form-title {
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 6px;
    color: midnightblue;
    border-bottom: solid 1px midnightblue;
    width: 80%;
}

.form-table {
    display: flex;
    width: 90%;
    margin-top: 20px;
}

.main-user-info,
.health-info {
    display: flex;
    flex-wrap: wrap;
    width: 48%;
}

.user-input-box, .health-input-box {
    width: 80%;
    padding-bottom: 5px;
}

    .user-input-box label, .health-input-box label {
        width: 90%;
        color: midnightblue;
        font-size: 18px;
        font-weight: 400;
        margin: 5px 0;
    }

    .user-input-box input, .health-input-box input {
        height: 30px;
        width: 100%;
        border-radius: 7px;
        outline: none;
        border: 1px solid grey;
        padding: 0 10px;
    }

.form-submit-btn {
    margin-top: 10px;
}

    .form-submit-btn .btnsave {
        display: inline-block;
        width: 40%;
        margin-top: 10px;
        font-size: 20px;
        padding: 10px;
        border: none;
        border-radius: 3px;
    }

    .form-submit-btn .btnsave {
        cursor: pointer;
    }

    .form-submit-btn .btncancel {
        display: inline-block;
        width: 40%;
        margin-top: 40px;
        font-size: 20px;
        padding: 10px;
        border: none;
        border-radius: 3px;
        color: #fff;
        background: red;
    }

        .form-submit-btn .btncancel:hover {
            cursor: pointer;
        }



.health-input-box input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: steelblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

    .custom-file-upload:hover {
        border: solid 1px black;
        background-color: white;
    }

.note-textarea {
    width: 100%;
    height: 80px;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 10px;
    resize: vertical;
}

/* patient profile page */


.patient-profile-container {
    margin-left: 260px;
    padding: 10px;
}

.header-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-icon {
    cursor: pointer;
    color: red;
    font-size: 1.5em;
    margin-right: 20px;
}


.header-container h3 {
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 10px;
}


.additional-info {
    display: flex;
    justify-content: space-between;
}

.billing-info .info-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.billing-info .info-label {
    font-weight: bold;
    color: #2c3e50;
}

.billing-info .info-value {
    color: #34495e;
}

/* OPG Information Section */

.opg-info .info-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.opg-info .info-label {
    font-weight: bold;
    color: #2c3e50;
}

/* Use CSS Grid to create a four-quadrant layout */
.patient-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
}

.personal-info, .medical-info, .billing-info, .opg-info {
    background-color: #ecf0f1;
    padding: 0px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .personal-info h4, .medical-info h4, .billing-info h4, .opg-info h4 {
        color: #2c3e50;
        border-bottom: 2px solid #2c3e50;
        padding-bottom: 10px;
    }

.info-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.info-label {
    font-weight: bold;
    color: #2c3e50;
}

.info-value {
    color: #34495e;
}

/* OPG Information Section */
.opg-info .opg-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.modal-content h3 {
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 10px;
}

.modal-content label {
    display: block;
    margin-top: 10px;
    color: #2c3e50;
    font-weight: bold;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .modal-content button:hover {
        background-color: #1e90ff;
    }

.add-appointment {
    margin-right: 10px;
    background-color: #2c3e50;
    color: white;
    border-radius: 5px;
    cursor:pointer
}

/* Add styles for Edit and Delete buttons */
.edit-btn, .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin: 0 5px;
}

.edit-btn {
    color: #007bff; /* Plava boja za uređivanje */
    top: 10px; /* Udaljenost od vrha */
    right: 10px; /* Udaljenost od desne strane */
}


.delete-btn {
    color: #dc3545; /* Red color for delete */
}

    .edit-btn:hover, .delete-btn:hover {
        opacity: 0.7;
    }

/* Edit Modal styles */
.edit-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

.edit-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.edit-modal-content h3 {
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 10px;
}

.edit-modal-content label {
    display: block;
    margin-top: 10px;
    color: #2c3e50;
    font-weight: bold;
}

.edit-modal-content input,
.edit-modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.edit-modal-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .edit-modal-content button:hover {
        background-color: #1e90ff;
    }


/* Add Billing Button */
.add-billing {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Create Modal */
.create-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.create-modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.create-modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .create-modal .close:hover,
    .create-modal .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/* Form Grid */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

    .form-group label {
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-group input,
    .form-group textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

.submit-btn {
    grid-column: span 2;
    padding: 10px;
    background-color: midnightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .submit-btn:hover {
        background-color: dodgerblue;
        border: solid 1px black;
    }

/* Search box styles */
#searchBox {
    width: 20%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Autocomplete container */
#autocomplete-list {
    position: relative;
    display: block;
}

/* Autocomplete items */
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }

.autocomplete-appointment {
    position: absolute;
    display: none;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 99;
    background-color: #fff;
    box-sizing: border-box;
    width: auto; /* Match the width of the input field */
    padding: 5px; /* Add padding around the text */
}

    .autocomplete-appointment.show {
        display: block;
    }

    .autocomplete-appointment .autocomplete-item {
        padding: 5px; /* Ensure padding inside each item */
        cursor: pointer;
        background-color: white;
        border-bottom: 1px solid #ddd;
    }

        .autocomplete-appointment .autocomplete-item:hover {
            background-color: #e9e9e9;
        }


/* Change cursor to pointer and background to grey on hover for patient rows */
.patients-table tr {
    cursor: pointer;
}

    .patients-table tr:hover {
        background-color: lightgray;
    }

/* paginacija */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

    .pagination button {
        padding: 10px;
        margin: 0 5px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #2c3e50;
        color: white;
    }

        .pagination button:disabled {
            background-color: lightgray;
            cursor: not-allowed;
        }

    .pagination span {
        margin: 0 10px;
    }


.info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal-info-patient {
    position: relative; /* Relativno pozicioniranje kontejnera */
    background-color: #ecf0f1;
    padding: 0px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-icon {
    cursor: pointer;
    position: absolute; /* Apsolutno pozicioniranje */
    top: 20px; /* Udaljenost od vrha */
    right: 10px; /* Udaljenost od desne strane */
}
